{% extends 'main_page_app/main_layout.html' %}
{% block custom_title %}Моя вокансия{% endblock %}

{% block custom_body %}

<main class="container mt-3 pb-5">
    <div class="row mt-5">

       {% include 'user_company/mycompany_nav.html' %}

        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-body px-4 pb-4 tab-content">

                    <section>
                        <h2 class="h4 pt-2 pb-3">Backend Middle/Senior</h2>
                        <p class="alert alert-info" role="alert">Вакансия обновлена</p>

                        <form action="" method="post">

                            <div class="row">
                                {% csrf_token %}
                                {% for field in form  %}

                                    {% if field.name in 'skills,description' %}
                                        <div class="col-12">
                                            <div class="form-group pb-2">
                                                <p class="mb-2 text-dark">{{ field.label }}</p>
                                                {{ field }}
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="col-12 col-md-6">
                                            <div class="form-group pb-2">
                                                <p class="mb-2 text-dark">{{ field.label }}</p>
                                                {{ field }}
                                            </div>
                                        </div>
                                    {% endif %}

                                {% endfor %}
                            </div>

                            <div class="form-group">
                                <input type="submit" class="btn btn-info" value="Сохранить">
                            </div>
                        </form>

                    </section>

                </div>
            </div>
        </div>

    </div>
</main>

{% endblock %}