{% extends 'main_page_app/main_layout.html' %}
{% block custom_title %}Моя вокансия{% endblock %}

{% block custom_body %}

<main class="container mt-3 pb-5">
    <div class="row mt-5">

       {% include 'user_company/mycompany_nav.html' %}

        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-body px-4 pb-4 tab-content">

                    <section>
                        <h2 class="h4 pt-2 pb-3">Backend Middle/Senior</h2>
                        <p class="alert alert-info" role="alert">Вакансия обновлена</p>
                        {% include 'user_company/template_vacancy_create_or_update.html' %}
                    </section>

                </div>
            </div>
        </div>

    </div>
</main>

{% endblock %}