{% extends 'main_page_app/main_layout.html' %}
{% block custom_title %}Нет компании{% endblock %}

{% block custom_body %}

<main class="container mt-3 pb-5">
    <section class="col-12 col-lg-6 offset-lg-3 mt-5 card">
        <div class="card-body px-3 pb-4">
            <h1 class="h4 pt-2">Моя компания</h1>
            <p class="mt-2">
                {{ title }}
            </p>
            <a href="{% url 'my_company_create' %}" class="btn btn-info mb-2">Создать карточку компании</a>
        </div>
    </section>
</main>

{% endblock %}