{% extends 'main_page_app/main_layout.html' %}
{% block custom_title %}Создание компании{% endblock %}

{% block custom_body %}

<div class="col-12 col-lg-8 mx-auto my-5">
    <div class="card">
        <div class="card-body px-4 pb-4">
            <section class="tab-pane fade show active">
             <h2 class="h4 pt-2 pb-3 text-center">Регистрация компании</h2>

                <form class="" action='' enctype="multipart/form-data" method="post">
                    <div class="row">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="col-12 {% if field.name not in 'description' %}col-md-6{% endif %}">
                            <div class="form-group pb-2">
                                <p class="mb-2">{{ field.label }}</p>
                                {{ field }}
                                <div class="text-danger">{{ field.errors }}</div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <div class="text-danger">{{ form.non_field_errors }}</div>
                    <button type="submit" class="btn btn-info form-group">Создать</button>
                </form>

            </section>
        </div>
    </div>
</div>

{% endblock %}