{% extends 'main_page_app/main_layout.html' %}
{% load humanize %}
{% block custom_title %}Вакансии{% endblock %}

{% block custom_body %}
    <main class="container mt-3">
        <section>
            <h1 class="h1 text-center mx-auto mt-4 pt-5" style="font-size: 70px;">
                <strong>
                    {% if specialty_ru %}
                        специализация - {{ specialty_ru }}
                    {% else %}
                        Все вакансии
                    {% endif %}
                </strong></h1>
            <p class="text-center pt-1">{{ jobs|length }} вакансий</p>
            <div class="row mt-5">
                {% for job in jobs %}
                    <div class="col-12 col-lg-8 offset-lg-2 m-auto">
                        <div class="card mb-4">
                            <div class="card-body px-4">
                                <div class="row">
                                    <div class="col-12 col-md-8 col-lg-9">
                                        <h2 class="h2 pb-2">{{ job.title }}</h2>
                                        <p class="mb-2">{{ job.skills }}</p>
                                        <p>От {{ job.salary_from | intcomma }} до {{ job.salary_to | intcomma }}
                                            Руб.</p>
                                        <p class="text-muted pt-1">Опубликовано - {{ job.posted }}</p>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-3 d-flex align-items-end">
                                        <a href="{% url 'one_vacancy' job.id %}">
                                            <img src="https://ru-static.z-dn.net/files/dae/083a1cda3a973e742a5f44725c2920ed.jpg" width="130" height="80" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}