{% extends 'main/main_layout.html' %}
{% block custom_title %}{{ title }}{% endblock %}

{% block custom_body %}

<main class="container mt-3">
    <div class="row">
        <div class="col-8 col-lg-4 offset-2 offset-lg-4">

            <form class="form-signin pt-5" action="" method="post">
                <div class="text-center mt-5 b-1">
                    <h1 class="h3 mb-3 font-weight-normal">Джуманджи</h1>
                    <p class="h5 font-weight-light mb-5 ">{{ title_form }}</p>
                </div>
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-label-group">
                        <p class="text-muted">{{ field.label }}</p>
                        <p>{{ field }}</p>
                        <span class="text-danger">{{ field.errors }}</span>
                    </div>
                {% endfor %}
                <span class="text-danger">{{ form.non_field_errors }}</span>
                <button class="btn btn-primary btn-lg btn-block mt-4" type="submit">{{ button }}</button>
            </form>

            {% url 'register' as register_url %}
            {% url 'login' as login_url %}
            {% if login_url == request.path %}
            <div class="mt-4 text-center">
                <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрируйтесь!</a></p>
            </div>
            {% elif register_url == request.path %}
            <div class="mt-4 text-center">
                <p>Есть аккаунт? <a href="{% url 'login' %}">Войдите!</a></p>
            </div>
            {% endif %}

        </div>
    </div>
</main>

{% endblock %}