{% extends 'main/main_layout.html' %}
{% block custom_title %}Моя компания{% endblock %}

{% block custom_body %}

<main class="container mt-3 pb-5">
    <div class="row mt-5">

        {% include 'main/mycompany/mycompany_nav.html' %}

        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-body px-4 pb-4">
                    <section class="tab-pane fade show active">
                        <h2 class="h4 pt-2 pb-3">Информация о компании</h2>

                        {% if messages %}
                            {% for mes in messages %}
                                {% if mes %}
                                {% endif %}
                            {% endfor %}
                            <p class="alert alert-info" role="alert">Информация о компании обновлена</p>
                        {% endif %}

                        <form class="" action='' enctype="multipart/form-data" method="post">
                            <div class="row">
                            {% csrf_token %}
                            {% for field in form %}

                                {% if field.name in 'logo' %}

                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <p class="mb-2">{{ field.label }}</p>
                                            <div class="d-flex justify-content-between">
                                                <div><img src="{{ field.value.url }}" alt="logo" style="max-width: 120px; height: 50px;"></div>
                                                <div><label for="{{ field.id_for_label }}" class="btn btn-dark py-1">Загрузить</label></div>
                                            </div>
                                            {{ field }}
                                            <div class="text-danger">{{ field.errors }}</div>
                                        </div>
                                        <style>
                                            input[type="file"] {display: none;}
                                        </style>
                                    </div>

                                {% else %}

                                    <div class="col-12 {% if field.name not in 'description' %}col-md-6{% endif %}">
                                        <div class="form-group pb-2">
                                            <p class="mb-2">{{ field.label }}</p>
                                            {{ field }}
                                            <div class="text-danger">{{ field.errors }}</div>
                                        </div>
                                    </div>

                                {% endif %}

                            {% endfor %}
                            </div>
                            <div class="text-danger">{{ form.non_field_errors }}</div>
                            <button type="submit" class="btn btn-info form-group">Сохранить</button>
                        </form>

                    </section>
                </div>
            </div>
        </div>

    </div>
</main>

{% endblock %}