{% extends 'main_page_app/main_layout.html' %}
{% load humanize %}
{% block custom_title %}Вакансия{% endblock %}

{% block custom_body %}

<main class="container mt-3 pb-5">
    <div class="row mt-5">
        <div class="col-12 col-lg-2">
            <div class="pl-3 mb-5">
                <p><a href="..">Назад</a></p>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <section class="px-3">

                <div>
                    <a href="#">
                        <img src="{{ object.company.logo.url }}" width="130" height="80" alt="">
                    </a>
                    <div class="d-flex align-items-baseline align-content-baseline">
                        <h1 class="h2 mt-4 font-weight-bold">{{ object.title }}</h1>
                        <p class="m-0 pl-3">
                            {{ object.salary_min|intcomma }}
                            -
                            {{ object.salary_max|intcomma }} Р
                        </p>
                    </div>
                    <p class="mt-2">Навыки: {{ object.skills }}</p>
                    <p class="text-muted mb-4">Компания:
                        {{ object.company.name }}
                        ({{ object.company.employee_count }} - человек),
                        {{ object.company.location }}
                    </p>
                    <p>{{ object.company.description }}</p>
                    {{ object.description|safe }}
                </div>

                <hr>

                <div style="line-height: 1.8;">
                    <form action="" class="card mt-4 mb-3" method="post">
                        <div class="card-body mx-3">
                            <p class="h5 my-3 font-weight-normal">Отозваться на вакансию</p>
                            <hr>
                            {% csrf_token %}
                            <div class="text-danger">{{ form.non_field_errors }}</div>
                            {% for field in form %}
                                <div class="my-2">{{ field.label }}</div>
                                {{ field }}
                                <div class="text-danger">{{ field.errors }}</div>
                            {% endfor %}
                            <div class="form-group mt-4">
                                <button type="submit" class="btn btn-primary">Откликнуться</button>
                            </div>
                        </div>
                    </form>
                </div>

            </section>
        </div>
    </div>
</main>

{% endblock %}