.custom_visual_list_card:hover {
    transition: all 0.2s ease-in;
    transform: scale(1.1);
    background: linear-gradient(90deg,rgba(191, 191, 191, 1) 0%, rgba(237, 237, 237, 1) 58%, rgba(247, 247, 247, 1) 75%);
}

.custom_visual_main_card:hover {
    transition: all 0.2s ease-in;
    transform: scale(1.1);
    background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(230, 230, 230, 1) 84%, rgba(219, 219, 219, 1) 100%);
}
